.content{
   
        color: #7B8898;
        font-size: 14px;
        font-size: 0.875em;
        font-weight: 400;
        font-style: normal;
        font-family: "Mercury SSm A", "Mercury SSm B", Georgia, Times, "Times New Roman", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", serif;
        line-height: 1.5;
        margin-bottom: 100px;       
    
}